<!doctype html>
<html>
<head>
	<title>Dessert Authorization</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body { padding-top:80px; }
	</style>
</head>
<body style="background-color: #323232">
<div class="container">

	<div class="col-sm-6 col-sm-offset-3" style="background-color: #ffffff; border: 1px solid #a0a0a0; border-radius: 8px;">

		<h1><span class="fa fa-share-square-o"></span> Authorization</h1>
		<hr>

		<p>Hi <i><b>{{ user.username}}</b></i>!</p>
		<p><b>{{ client.name }}</b> is requesting access to your:<br>
			{% for s in scope -%} {{ s }}{% if !loop.last %}, {% endif %}{% endfor %}.
		</p>

		<p>Do you approve?</p>

		<form action="/oauth2/decision" method="post">
			<input name="transaction_id" type="hidden" value="{{ transactionID }}">
			<div>
				<input type="submit" value="Allow" id="allow" class="btn btn-success btn-sm">
				<input type="submit" value="Deny" name="cancel" id="deny" class="btn btn-danger btn-sm">
			</div>
		</form>
		<hr>

		<p>Need an account? <a href="/register">Register</a></p>
		<p>Or go <a href="/">Home</a>.</p>

	</div>

</div>
</body>
</html>