<!doctype html>
<html>
<head>
	<title>Dessert Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body {
			padding-top:80px;
			background-color: #323232;
		}

		.jumbotronv {
			background-color: #eeeeee;

			border-radius: 6px;

			padding-top: 48px;
			padding-bottom: 48px;

			padding-right: 60px;
			padding-left: 60px;
		}

		.jumbotronv h1 {
			font-size: 43px;
		}

	</style>
</head>
<body>
<div class="container">

	<div class="col-sm-6 col-sm-offset-3 jumbotronv" style="background-color: #EEEEEE;">

		<h1><span class="fa fa-cloud"></span> Dessert API</h1><br><br><br>

	</div>
</body>
</html>